/* Error: expected "{".
 *    ,
 * 28 |     list-style-type: none;
 *    |                          ^
 *    '
 *   scss\main.scss 28:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 28 \2502      list-style-type: none;\d\a    \2502                           ^\a    \2575 \a   scss\\main.scss 28:26  root stylesheet';
}
