/*colors*/

$primary_1: white;
$secondary2: rgb(216, 207, 207);
$third3: black;
$bg-color: rgba(163, 158, 158, 0.185);

/* Shadows */
$img-shadow: 5px 5px 40px 15px rgba(153, 153, 153, 0.51);

/* färger */
$transparent: rgba(255, 255, 255, 0.2);
