header{
    background-color: rgba(163,158,158,0.185);
    width: 100%;
    position: fixed;
    z-index: 999;

}
body{
    object-fit:fill ;
    background-image: url(/images/bg-img.jpg);
    background-position: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.laget{
    text-align: center;
    font-size: 1,4em;
    margin-top: 39%;
    
}

nav ul{
    text-align: right;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    margin: auto;
    display: block;
}

li a:hover::after{
    width: 100%;
    transition: width 0s linear;

}

section{
    flex-direction: wrap;
    color: white;
    padding-top: 22%;
    text-align: center;
}


.profile{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
    list-style: none ;
    width: 500px;
    display: inline-block;
    vertical-align: top;
   }
   

img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    
}


h5{
    color: black;
}

.rakib {
    padding: 40px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;   
    background-color: rgb(216, 207, 207);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
   }
.alexandra{
    padding: 40px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;   
    background-color: rgb(216, 207, 207);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
   }
.lasse {
    padding: 40px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;   
    background-color: rgb(216, 207, 207);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
   }
.sebastian {
    padding: 40px;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;   
    background-color: rgb(216, 207, 207);
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
   }


   * {

    font-family: 'Poppins', sans-serif;


    padding: 0;

    box-sizing: border-box;

    scroll-behavior: smooth;

}
.footer {

    background-color: black;

    padding: 25px 0;

}
.container {

    max-width: 1170px;

    background-color: black;

    margin: auto;

    flex: auto;

}
.row {

    display: flex;

    flex-wrap: wrap;

}
.footer-map {

    font-size: 18px;

    color: white;

    text-transform: capitalize;

    margin-bottom: 30px;

    position: relative;

    font-weight: 500;

    width: 33%;

    padding: 0 15px;

}
.footer-conatact {

    font-size: 18px;

    color: white;

    text-transform: capitalize;

    margin-bottom: 30px;

    position: relative;

    font-weight: 500;

    width: 35%;

    padding: 0 15px;

}
.footer-social {

    font-size: 18px;

    color: white;

    text-transform: capitalize;

    margin-bottom: 30px;

    position: relative;

    font-weight: 500;

    width: 30%;

    padding: 0 80px;

}